div#graph svg {
  font: 10px sans-serif;
  shapeRendering: crispEdges; }
  div#graph svg circle.film {
    stroke: white;
    stroke-width: 1.5px;
    fill-opacity: 0.8; }
  div#graph svg rect.background {
    fill: #F0ECEC; }
  div#graph svg text.film-tooltip {
    font-weight: bold; }
  div#graph svg text.yLabel, div#graph svg text.xLabel {
    font-size: 12px; }
