div#graph svg {
    font: 10px sans-serif;
    shapeRendering: crispEdges;
    circle.film {
        stroke: white;
        stroke-width: 1.5px;
        fill-opacity: 0.8;
    }
    circle.film.highlight {
        //fill-opacity: 1;
    }
    rect.background {
        fill: #F0ECEC;
    }
    text {
        &.film-tooltip {
            font-weight: bold;
        }
        &.yLabel, &.xLabel {
            font-size: 12px;
        }
    }
}