html {
    background-color: #fbfff7;
}

body {
    background-color: #fbfff7;
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */ 
}

.container > {
    footer p {
        text-align: center; /* center align it with the container */ 
    }
    .hero-unit {
        //background-image: url('../img/white_texture.png');
        padding: 20px 0 20px 20px;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); 
    } 
}

.row > .controls {
    padding-left: 9px;
    //border-left: 1px solid #666;
    margin-left: -10px; 
}

#slider-range {
    margin: 3px 10px; 
}

div .years, .stories, .worldwide-gross {
    //padding: 10px 5px 3px 0px;
    margin-right: 9px; 
}

.btn {
    &.story {
        margin-bottom: 3px;
        &.short {
            min-width: 71px; 
        }
        &.long {
            min-width: 115px; 
        } 
    }
}

.film-label {
    font-weight: bold; 
}

.film-datum {
    font-weight: normal; 
}

#film-name {
    font-weight: bold; 
}

.round-corners {
    float: left;
    margin-right: 10px;
    
	height: 20px;
	width: 20px;

	//border-width: 1px;
	//border-style: solid;
	//border-color: black;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}