html {
  background-color: #fbfff7; }

body {
  background-color: #fbfff7;
  padding-top: 40px;
  /* 40px to make the container go all the way to the bottom of the topbar */ }

.container > footer p {
  text-align: center;
  /* center align it with the container */ }
.container > .hero-unit {
  background-image: url("../img/white_texture.png");
  padding: 20px 0 20px 20px; }

.container {
  width: 980px; }

footer {
  padding-top: 18px;
  margin-top: 18px;
  border-top: 1px solid #EEE; }

.row > .controls {
  padding-left: 18px;
  border-left: 1px solid #dddddd;
  margin-left: -28px;
  min-height: 620px; }
  .row > .controls #slider-range {
    margin: 3px 10px; }

div.stories-legend {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 10px;
  border: 1px solid #DDD;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  div.stories-legend table {
    margin-bottom: 0px; }
    div.stories-legend table td {
      width: 20%;
      border-top: 0px; }

div.stories-header {
  padding-left: 8px;
  width: 96%; }
  div.stories-header span.twentytwo-stories {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px; }
  div.stories-header em.instruction {
    margin-right: 10px; }

div#alert-help {
  color: black;
  margin-left: 20px;
  margin-right: 20px; }

div.worldwide-gross {
  margin-right: 9px;
  margin-bottom: 10px; }

.btn.story {
  margin-bottom: 1px; }
  .btn.story.short {
    min-width: 83px; }
  .btn.story.long {
    min-width: 128px; }
  .btn.story.super-long {
    min-width: 290px; }
.btn.year {
  min-width: 59px; }

div.stories {
  padding-bottom: 20px; }

div.meta .btn {
  min-width: 95px; }

div.film-details {
  padding-bottom: 10px; }
  div.film-details .film-label {
    font-weight: bold; }
  div.film-details .film-datum {
    font-weight: normal; }
  div.film-details #film-name {
    font-weight: bold; }

.round-corners {
  float: left;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
