div#graph svg {
    font: 10px sans-serif;
    shapeRendering: crispEdges;
    circle.film {
        stroke: white;
        stroke-width: 1.5px;
        fill-opacity: 0.8;
    }
    rect.background{
        fill: #F0ECEC;
    }
}