div#graph svg {
  font: 10px sans-serif;
  shapeRendering: crispEdges; }
  div#graph svg circle.film {
    stroke: white;
    stroke-width: 1.5px;
    fill-opacity: 0.8; }
  div#graph svg rect.background {
    fill: #F0ECEC; }
